.botones-ca {
    display: flex;
    justify-content: space-between; /* Añade espacio entre los botones */
    padding: 50px; /* Añade padding alrededor de los botones para espacio */
    float: left;
    width: 500px;
}

.botones-ca a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    display: inline-block;
    padding: 10px 20px; /* Padding alrededor del texto para que parezca un botón */
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    transition: background-color 0.3s; /* Efecto suave al pasar el ratón por encima */
}

.contacto-u a {
    background-color: #ff5733; /* Color de fondo del botón "Contacto Urgente" */
}

.programar-s a {
    background-color: #33a2ff; /* Color de fondo del botón "Programar Sesión" */
}

/* Estilo al pasar el ratón por encima de los botones */
.botones-ca a:hover {
    background-color: #555; /* Cambia a tu color deseado */
}
