.cont-text{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    padding: 10px 180px;
    justify-content: space-around;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4C85A0; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
}

.container-recursos {
    display: flex;
    margin: 0;
    width: 800px;
}

.cont1 {
    width: 600px;
}

.cont2 {
    width: 600px;
}

.cont3 {
    width: 600px;
}

.boton-animado {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    transition: transform 0.3s, background-color 0.3s; 
}


.boton-animado:hover {
    transform: scale(1.05); 
    background-color: #0056b3; 
}


.boton-animado:active {
    transform: scale(0.95); 
}

#portada {
    padding: 12px 180px;
    width: 1600px;
    height: 450px;
}
