footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4C85A0; 
    color: #fff; 
    padding: 10px; 
    text-align: center; 
}

.cont1 {
    
}

.cont2 {

}

.cont3 {

}

.boton-animado {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    transition: transform 0.3s, background-color 0.3s; 
}


.boton-animado:hover {
    transform: scale(1.05); 
    background-color: #0056b3; 
}


.boton-animado:active {
    transform: scale(0.95); 
}

