.container-bl {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    max-width: 1000px;
    margin: auto;
}

.container-bl {
    display: flex;
    flex-direction: column; /* Esto asegura que el contenido esté en dirección vertical */
    text-align: justify ;
    margin-bottom: 20px;
}

section {
    width: 700px;
    padding: 20px;
    text-align: justify;
}

section p {
    margin: 5px;
    color: #414141;
}

.lista-box{
    margin: 5px;
    color: #414141;
    margin-left: 30px;
  }


.margen-box {
    border-radius: 5px;
    background-color: #CFE3FB;
    width: 700px;
    height: auto;
    margin: auto;
}
