.biblio-text {
    width: 900px;
    text-align: justify ;
}
iframe {
    width: 500px;
    height: 260px;
}
ul li {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}