button {
    background-color: #272665;
    color: white;
    width: 150px;
    height: 35px;
    border-style: none;
    margin-left: 40px;
    border-radius: 5px;
    font-weight: bolder;
}

.container-display {
    background-color: #D2E7FF;
    height: 300px;
    border-radius: 10px;
    width: 1100px;
}

.mensaje {
   
    
   
    
    color: #272665;
    
    border-radius: 5px;
    
}

.mensaje_success {
    color: #28a745; /* Color de texto para éxito */
    background-color: #daf5e9; /* Fondo claro para éxito */
    border: 1px solid #28a745; /* Borde para éxito */
    padding: 3px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: auto;
    font-size: 12pt;
    float: right;
    margin-top: -150px;
    margin-right: 40px;
}

.mensaje_error {
    color: #dc3545; /* Color de texto para error */
    background-color: #f8d7da; /* Fondo claro para error */
    border: 1px solid #dc3545; /* Borde para error */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: auto;
    font-size: 12pt;
    float: right;
    margin-top: -150px;
    margin-right: 40px;
}


.container-display .sub-name{
    padding: 20px 40px;
}

.container-display .sub-email{
    padding: 20px 40px;
}

.container-display .sub-phone{
    padding: 20px 40px;
}

thead {
    color: #272665;
}