* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f0f1;
    width: 100%;
    height: 100vh;
    flex: 50%;
}

.navbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 120px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #131231;
    overflow: hidden;
}

li.navitem {
    float: right;
}

li.navitem a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
    transition: background-color 0.4s;
    margin-top: 40px;
}

li.navitem a:hover {
    background-color: #282C34;
}

#Clinica {
    padding: 30px;
    margin-left: 160px;
    font-size: 25pt;
    color: #282C34;
    font-style: italic;
}

h1  {
    color: #282C34;
}

h2 {
    color: #282C34; 
}

header img {
    float: left;
    margin-top: -5.7cm;
    margin-left: 20px;
    width: 350px;
    height: 350px;
    position: absolute;
}

main {
    margin: 0 auto;
    background-color: #C3D6DF;
    padding: 30px;
    margin-top: 30px;
    justify-content: center;
    display: flex;
}

main p {
    font-size: 18px;
    line-height: 1.5;
}

.card-text {
    max-width: 1050px;
    margin: 0;
    color: darkslategray;
    background-color: #E4F4FD;
    border-radius: 5px;
    padding: 20px;
    display: flex; 
}

.card-text p {
    margin: 0; 
}

.card-text-2 {
    max-width: 1050px;
    margin: 0;
    color: darkslategray;
    background-color: #E4F4FD;
    border-radius: 5px;
    padding: 20px;
}

.card-text-2 p {
    margin: 0; 
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    max-width: calc(45% - 20px);
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 500ms ease;
    flex: 1;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.card .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
    font-size: 12px;
    margin: 10px auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 300ms ease;
}

.btn:hover {
    background-color: #0056b3;
}

.main-content {
    width: 65%;
    margin: 0;
    padding: 0;
    margin-left: 180px;   
    text-align: justify;   
    
}

footer {
    background-color: #131231; 
    color: lightgray;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
}

.footer-logo img {
    max-width: 200px; 
    float: left;
    margin-right: 30px;
    width: 170px;
    height: 150px;
    
}

.footer-info {
    flex: 1; 
    text-align: left; 
    font-size: 11pt;
}


.footer-links ul {
    list-style: none; 
    padding: 0; 
}

.footer-links ul li {
    margin-bottom: 5px; 
}


.footer-copyright {
    margin-top: 20px; 
}

.intro-text {
    width: 1100px;
    border: solid 2px #E4F4FD;
   
    justify-content: center;
    align-items: center;
    background-color: #E4F4FD;
    border-radius: 10px;
}

.sub-intro-text {
    width: 1000px;
    margin-left: 50px;
    
}

.sub-intro-text p{
    text-align: justify;
}

.backgraund-portada {
    width: 100%;
    height: 420px;
    background-color: #D2E7FF;
}

#portada {
    padding: 5px 130px;
    width: 1000px;
    height: 410px;
    margin-left: 50px;
}