.card {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  background-color: #fff;
  text-align: center;
}

.card-header {
  position: relative;
  height: 150px;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-pic-container {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  background-color: #fff;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 2px 16px;
  height: calc(auto + 50px);
  margin-top: 70px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.card a {
  text-decoration: none;
  color: blue;
}

.card a:hover {
  text-decoration: underline;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: calc(50vw - 20px);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered for better look on large screens */
  padding: 20px;
  border: none; /* modern designs often do not have borders */
  width: auto; /* Auto width based on content size */
  max-width: 50%; /* Maximum width to maintain padding on the sides */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

/* Simplified close button */
.close {
  font-size: 1.5em;
  color: #555; /* Subtle color */
}

.close:hover,
.close:focus {
  color: #333; /* Darker color on hover for better contrast */
  text-decoration: none;
  cursor: pointer;
}

/* Improving the modal body */
#modal-body {
  text-align: center; /* Center align the text */
  font-size: 1rem; /* Keeping font size to default for consistency */
  background: #fff; /* White background */
  border-radius: 5px; /* Slightly smaller border-radius for consistency with the card design */
  margin: auto; /* Centering it */
  padding: 25px; /* More padding for better spacing */
}

#modal-body h4,
#modal-body p {
  margin-bottom: 1rem; /* Consistent spacing at the bottom */
}

#modal-body a {
  color: #007bff; /* Keeping link color consistent with your provided styles */
}

#modal-body img {
  width: 90px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .modal-content {
    margin: 5% auto; /* More margin on the top on small screens */
  }
}
